<div id="card" class="tariff-card-chart flex flex-column" style="height: 70vh">
    <h6>Top 10 countries with the lowest tariffs</h6>
    <div id="card-lowest-tariffs"></div>
    <h6>Top 10 countries with the highest tariffs</h6>
    <div id="card-highest-tariffs"></div>
    <h6>Top 10 countries with the highest order count</h6>
    <div id="card-order-count"></div>
    {#  <svg id="tariffs-container"></svg>#}
</div>
<div id="tariffs-tools" class="mt-3">
  <select id="avg-type-select">
    <option value="simple">AHS Simple Average</option>
    <option value="weighted">AHS Weighted Average</option>
  </select>
  <select id="category-select">

  </select>
</div>