#loading-spinner {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: hidden;
}

.spinner-circle {
  fill: none;
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  animation: spinner 1.5s ease-in-out infinite;
}

@keyframes spinner {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
