{% extends "base.html" %}

{% block title %}About tool{% endblock %}

{% block content %}
  <div class="m-5">
    <h1 class="mb-5">About</h1>
    <h5>Welcome to our app!</h5>
    <p>Our mission is to simplify the process of understanding and managing supplies. Whether you're tracking inventory, managing resources, or just trying to stay organized, this app is designed to make the task easier, more efficient, and stress-free. We believe that with the right tools, you can focus less on logistics and more on what really matters.</p>
  </div>
{% endblock %}
